<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="useGeneratedKeys" value="true"/>
    </settings>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.hsqldb.jdbc.JDBCDataSource"/>
                <property name="url" value="jdbc:hsqldb:mem:testdb"/>
                <property name="username" value="SA"/>
                <property name="password" value=""/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper class="me.gaigeshen.mybatis.helper.mapper.UserDao" />
    </mappers>
</configuration>